<%= form_with(model: userwallet) do |form| %>
  <% if userwallet.errors.any? %>
    <div id="error_explanation" class="text-left">
      <h6><%= pluralize(userwallet.errors.count, "error") %> prohibited this userwallet from being saved:</h6>

      <ul>
        <% userwallet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :amount %>
    <%= form.text_field :amount, class: "form-control", placeholder: "0.00" %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
