<div class="row">
  <div class="col-sm-13">
    <div class="card-header">
      <div class="card-body-categ">
        <h2>My Portfolio</h2>
        <div class="add-users">
          <%= link_to ' Manage stocks', home_index_path, class: "nav-link bi-plus-square"%>
          <% if !@wallets %>
            <%= link_to ' Open wallet', new_userwallet_path, class: "nav-link bi-wallet2"%>
          <%else%>
          <div class="wallet">
            <%= link_to '', edit_userwallet_path(@wallets.id), class: "nav-link bi-plus-lg"%> 
            <p>₱ <%= @wallets.amount.round(2)%></p>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-box"> 
  <table id="table" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>SYMBOL</th>
        <th>COMPANY NAME</th>
        <th>QTY</th>
        <th>COST PRICE</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <% if @portfolios.count == 0 %>
      <tr>
        <td><i> No data available in table </i></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
      <% @portfolios.each do |portfolio|%>
        <%if portfolio.shares > 0 %>
          <tr>
            <td><%= portfolio.symbol%></td>
            <td><%= portfolio.company_name%></td>
            <td><%= portfolio.shares%></td>
            <td>₱ <%= portfolio.cost_price.round(2)%></td>
            <td>₱ <%= (portfolio.shares * portfolio.cost_price).round(2)%></td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
    </tfoot>
  </table>
</div>
