<div class="box"> 
    <div class="card">
      <div class="card-header text-center">
        <h3>STOCK INFORMATION</h3>
      </div>
      <div class="card-body">
        <%= form_with model: transaction do |form| %>
  
          <div class="mb-3">
            <%= form.label "User Id" %>
            <%= form.hidden_field :user_id, value: current_user.id, readonly: true, class: "form-control" %>
          </div>
  
          <div class="mb-3">
            <%= form.label "Symbol" %>
            <%= form.text_field :symbol, value: @symbol, readonly: true, class: "form-control" %>
          </div>
  
          <div class="mb-3">
            <%= form.label "Company Name" %>
            <%= form.text_field :company_name, value: @company.company_name, readonly: true, class: "form-control" %>
          </div>
  
          <div class="mb-3">
            <%= form.label "Price:" %>
            <%= form.text_field :cost_price, value: @price.latest_price, readonly: true, class: "form-control" %>
          </div>
  
          <div class="mb-3">
            <%= form.label "Shares:" %>
            <%= form.number_field :shares, value: 1,min: 1, class: "form-control" %>
          </div>
  

  
          <div class="mb-3">
              <%= form.label "Transaction Type:", class: "pad2" %>

              <%= form.radio_button :transaction_type, 'BUY', :checked => true %> 
              <%= form.label 'BUY', class: "pad3" %>
              <%= form.radio_button :transaction_type, 'SELL' %>
              <%= form.label 'SELL' %>
          </div>
  
          <div>
            <% if current_user.approved? %>
              <%= form.submit "CONFIRM", class: "btn btn-success" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div  class="card-footer text-center">
        <% if current_user.approved? %>
          <%= link_to ' New Symbol', home_index_path, class: "bi-arrow-left-short space pad" %>
          <%= link_to ' Back to Portfolio', portfolio_index_path, class: " bi-arrow-left-short space pad" %>
        <% else %>
          <%= link_to ' New Symbol', home_index_path, class: "bi-arrow-left-short space pad" %>
        <% end %>
      </div>
    </div>
  </div>